Source: deepin-desktop-base
Section: misc
Priority: optional
Maintainer: Deepin Sysdev <sysdev@deepin.com>
Standards-Version: 3.9.6
Build-Depends: debhelper (>= 9)

Package: deepin-desktop-base
Architecture: any
Provides: deepin-appstore-config
Conflicts: deepin-desktop-server, deepin-desktop-device
Depends: ${misc:Depends}, deepin-keyring, distro-info-data,
 eject, fonts-noto, fonts-symbola, deepin-elf-verify, libpam-deepin-security
Description: Base files for Deepin Desktop

Package: deepin-desktop-server
Architecture: any
Provides: deepin-appstore-config
Conflicts: deepin-desktop-base, deepin-desktop-device
Depends: ${misc:Depends}, deepin-keyring, distro-info-data,
 eject,  fonts-noto, fonts-symbola
Description: Base files for Deepin Server

Package: deepin-desktop-device
Architecture: any
Priority: standard
Provides: deepin-appstore-config
Conflicts: deepin-desktop-server, deepin-desktop-base
Depends: ${misc:Depends}, deepin-keyring, distro-info-data,
 eject, fonts-noto, fonts-symbola, deepin-elf-verify, libpam-deepin-security
Description: Base files for Deepin Device
