Source: deepin-desktop-base
Section: misc
Priority: optional
Maintainer: Deepin Sysdev <sysdev@deepin.com>
Standards-Version: 3.9.6
Build-Depends: debhelper (>= 9)

Package: deepin-desktop-base
Architecture: any
Provides: deepin-appstore-config
Depends: ${misc:Depends}, deepin-keyring, distro-info-data,
 eject,  deepin-wallpapers, fonts-noto, fonts-symbola
Description: Base files for Deepin Desktop
